@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {margin: 0; padding: 0; background-color: #454545; overflow: hidden}

#canvas {background: radial-gradient(#140d00 0%, #000000 100%);}

.container{display: grid; height: 100vh; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; grid-template-areas:  "sidebar canvas canvas canvas";}
#SideBarP{background: rgb(15, 15, 15); grid-area: sidebar}
#SolarSystemP{background: black; grid-area: canvas;}

.sContainer{
    display: grid;
    height: 100vh; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 50px 1fr 1fr 1fr; 
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "display display display display"
    "display display display display"
    "display display display display";
}
#NavBarP{background: #0a0a0a; grid-area: navbar;}
#sDisplayP{background: #633232; grid-area: display}

.nContainer{display: grid; height: 50px; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; grid-template-areas:"navbar navbar navbar navbar"}
.nItem{text-transform: uppercase; font-family: 'Bellefair', serif; font-size: 15px; color: rgb(128, 156, 167); text-align: center; padding-top: 16px; cursor: pointer; position: relative; overflow: hidden}
.nItem:before{content: ""; position: absolute; width: 0; background: white; left: 45%; height: 2px; bottom: 0; transition: all .3s; opacity: 0.7;}
.nItem:hover:before{width: 100%; left: 0;}
.nItem:hover{font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(38, 47, 58); transition: 0.3s ease-in-out}
.nItem:active{font-size: 15.5px; background-color: rgb(58, 64, 70); transition: 0.01s ease-in-out}

.page {color: white}